.navbar {
    display: flex;
    font-size: 15px;
    background-color: teal;
    padding: 10px;
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
.navbar-toggle {
    display: none;
    cursor: pointer;
    color: #fff;
}
.nav-links.offline{
    display: block;
}

@media screen and (max-width:767px){
    .navbar{
        display: block;
        
    }
    .navbar-toggle {
        display: block;
        width: 3%;
    }
    .nav-links.offline{
        display: none;
    }
    .nav-links.active {
        color: white;
        padding-top: 10px ;
        text-decoration: none;
        font-size: 17px;
        display: flex;
        flex-direction: column;
    }
}